body{
    margin:0px;
}

    /*Nav Bar*/
nav{
    position:sticky;
    top:0;
    background-color:whitesmoke;
    height: 80px;
    box-shadow: 0px 3px 20px 1px #84818154;
}

/*Logo*/
#logo{
    height:80px;
    margin-left: 30px; 
    display: inline-block;
}

/*Nav buttons*/
ul{
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow:hidden;
    display: inline-block;
    position: absolute;
    left: 33%;
}  

li{
    float:left;
}

li a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    display:block;
    font-size:medium;
    color:black;
    padding: 30px 20px;
}

.active{
    color:#1e99be;
}

.active .hov{
    border-bottom: 2px solid #114554;
}

.hov{
    border-bottom: 0px solid black;
}

.hov:hover{
    color:#289abe;
    border-bottom: 2px solid #289abe;
}

/*Login & Signup*/
#log{
    margin: 15px;
    float: right;
}

#log button{
    width: 80px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}

#login{
    border: 2px solid #289abe;
    background-color: #ffffff;
}

#signup{
    border: 2px solid #289abe;
    background-color: #289abe;
}

#login:hover{
    cursor: pointer;
    border: 2px solid #05546c;
    color: #289abe;
} 

#signup:hover{
    cursor: pointer;
    border: 2px solid #05546c;
    background-color: #05546c;
    color: white;
} 

/*Profile icon*/
#profile{
    margin: 15px;
    float: right;
    display: none;
}

/*Dark mode*/
#drkmode{
    float: right;
    margin: 25px 0px;
}

.mode{
    background-color: #1e99be;
    border-radius: 50px;
    padding: 5px;
}

#light{
    display: none;
}

#dark:hover{
    background-color: #63dbff;
}

    /*Footer*/
footer{
    background-color: #cdf4ff;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #323031;
    box-shadow: 0 -2px 20px 0px #8080804d;
}    

footer div{
    margin-bottom: 10px;
}

#icons img{
    margin: 15px 10px 0px 10px;
} 

#links a{
    padding: 0px 5px;
    text-decoration: none;
    color: inherit;
}

#links a:hover{
    text-decoration: underline;
    color: #093d72
}

#cpyryt{
    font-weight: 400;
}