body{
    margin:0px;
    background-image: url("../images/regBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

    /*Nav Bar*/
nav{
    position:sticky;
    top:0;
    background-color:#f5f5f575;
    height: 80px;
    box-shadow: 0px 3px 20px 1px #84818154;
}

/*Logo*/
#logo{
    height:80px;
    float: left;
    position: fixed;
    left: 10px;
    top: 10px;
}

/*Form*/
#form{
    display: flex;
    justify-content: center;
}

form{
    padding: 20px;
    margin-top: 60px;
    padding-bottom: 0;
    background-color: #093d728c;
    border-radius: 5px;
    box-shadow: #00000047 0px 3px 10px 2px;
    color: white;
}

#form h2{
    text-align: center;
    margin-top: 0;
    color: #260075;
}

form .name{
    width: 43%;
}

form input, form textarea{
    margin: 0px 10px 15px 0px;
    padding: 7px;
    border-radius: 5px;
    border-style: none;
    box-shadow: #00000047 2px 2px 5px 0px;
}

form input[type=radio], form input[type=checkbox]{
    box-shadow: none;
}

#email, #phone{
    width: 65%;
}

#passwrd{
    display: inline-block;
}

#confirmPasswrd{
    display: inline-block;
}

.show{
    width: 25px;
    height: 20px;
    background: white;
    position: absolute;
    display: inline-block;
    margin-left: -45px;
    margin-top: 5px;
    cursor: pointer;
}

#pwdIco, #cPwdIco{
    padding: 0px 5px;
    background: white;
}

form #submit{
    padding: 10px;
    background: rgb(5, 163, 13);
    color: white;
    border-radius: 3px;
    border-style: none;
    box-shadow: #00000047 2px 2px 5px 0px;
    cursor: pointer;
}

form #submit:hover{
    background: rgb(4 148 11)
}

form #submit[disabled]{
    background: #4f5752;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

    /*Footer*/
footer{
    background-color: #cdf4ffc9;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #323031;
    box-shadow: 0 -2px 10px 0px #8080804d;
}    

footer div{
    padding: 5px 0px;
}

#cpyryt{
    font-weight: 400;
}