body{
    margin:0px;
}
nav{
    position:sticky;
    top:0;
    background-color:whitesmoke;
    height: 80px;
}
ul {
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow:hidden;
    display: inline;
    align-content: center;
}  
li{
    float:right;
}
li.left1{
    float: left;
}

li a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    display:block;
    font-size:medium;
    color:black;
    padding: 25px 20px;
}
.active{
    color:coral;
}
.hov{
    border-bottom: 0px solid black;
 
}
.hov:hover{
    color:coral;
    border-bottom: 2px solid black;
}
.center{
    text-align: center;
}
.logo{
    width:130px;
    height:80px;
    margin-left: 30px; 
    display: inline;
}



